<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript">
    var stripe = Stripe('{{publicKey}}');
    stripe.redirectToCheckout({
      sessionId: "{{session}}"
      }).then(function (result) {
        //redirectToCheckout
      });
  </script>
</head>

<body>


</body>

</html>